html {font-size: 44px;}

body {background-color: rgb(252, 254, 197);}
h1 {color:rgb(88, 183, 241);font-family: cursive;}
h2 {text-indent: 75%;color: rgb(102, 177, 175);font-family: fantasy;}
h4 {font-family:fantasy;color: rgb(130, 85, 225);}
